@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body{
	padding: 0px;
	margin: 0px;
	background-color: rgba(52, 152, 219,0.4);
	overflow: hidden;
}
/* Road */
.road{
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: #333;
	bottom: 0;
	border-top: 10px solid rgba(149, 165, 166,1.0);
}

.road:after{
	content: '';
	position: absolute;
	top: 45%;
	height: 1px;
	width: 100vw;
	background-color: transparent;
	border-top: 5px dashed #fff;
}

/* Sun */

.sun{
	width: 75px;
	height: 75px;
	background-color: #ffdd59;
	position: absolute;
	top: 5%;
	right: 25%;
	border-radius: 50%;
	box-shadow: 0px 0px 50px #ffdd59;
}

.sun:after{
	content: '';
	width: 85px;
	height: 85px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	border: 3px dotted rgba(255, 221, 89, 0.6);
	border-radius: 50%;
	animation: xoay 10s linear infinite;
}

.sun:before{
	content: '';
	width: 85px;
	height: 85px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	border: 3px dotted rgba(255, 221, 89, 0.6);
	border-radius: 50%;
	animation: xoay 10s linear infinite;
	animation-delay: 5s;
}

@keyframes xoay{
	0%{
		transform: translate(-50%,-50%)  scale(1);
	}
	100%{
		transform: translate(-50%,-50%)  scale(2);
	}
}

/* Cloud */

.cloud{
	position: absolute;
	width: 75px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	animation: may-bay 10s linear infinite;
}

@keyframes may-bay{
	0%,100%{
		transform: translateX(0,0);
	}
	50%{
		transform: translate(-120px,30px);
	}

	75%{
		transform: translate(-20px,35px);
	}
}

.cloud:after{
	content: '';
	position: absolute;
	height: 20px;
	width: 50px;
	background-color: #fff;
	top: -10px;
	left: 10px;
	border-radius: 10px;
}

.cloud:before{
	content: '';
	position: absolute;
	height: 20px;
	width: 30px;
	background-color: #fff;
	top: -20px;
	left: 17px;
	border-radius: 10px;
}

.cloud:nth-child(1) {
	top: 10%;
	left: 10%;
}
.cloud:nth-child(2) {
	top: 5%;
	left: 40%;
}
.cloud:nth-child(3) {
	top: 20%;
	left: 50%;
}
.cloud:nth-child(4) {
	top: 18%;
	left: 20%;
}
.cloud:nth-child(5) {
	top: 15%;
	right: 10%;
}

/* Tree */

.tree{
	position: absolute;
	width: 10px;
	height: 50px;
	background-color: #cd6133;
	right: 15%;
	bottom: 60px;
}

.tree:before{
		content: '';
		position: absolute;
		top: -110px;
		left: 50%;
		transform: translateX(-50%);
		width: 50px;
		height: 110px;
		background-color: #05c46b;
		border-radius: 15px;
}

/* Street Light */

.street-light{
	position: absolute;
	width: 20px;
	height: 40px;
	background-color: #333;
	right: 25%;
	bottom: 60px;
}

.street-light:after{
	content: '';
	position: absolute;
	top:-125px;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 125px;
	background-color: #333;
}



.street-light:before{
	content: '';
	position: absolute;
	top:-130px;
	left: 50%;
	transform: translateX(-50%);
	width: 25px;
	height: 6px;
	background-color: #333;
	border-radius: 0px 0px 4px 4px;
}

.light{
	position: absolute;
	top: -155px;
	left:50%;
	transform: translateX(-50%);
	width: 30px;
	height: 5px;
	background-color: #333;
}

.light:after{
	content: '';
	position: absolute;
	bottom: -22.5px;
	left: 5px;
	background-color: #fff;
	width: 6px;
	height: 20px;
	border: 2.5px solid #333;
	border-bottom-left-radius: 2.5px;
}

.light:before{
	content: '';
	position: absolute;
	bottom: -22.5px;
	right: 5px;
	background-color: #fff;
	width: 7px;
	height: 20px;
	border: 2.5px solid #333;
	border-bottom-right-radius: 2.5px;
}

.light .light-chop{
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #333;
}

.light .light-chop:after{
	content: '';
	position: absolute;	
	width: 10px;
	height: 10px;
	background-color: #445;
	top:-7px;
	left: -5px;
	border-radius: 50%;
}


/* Bus station */

.bus-station{
	position: absolute;
	left: 15%;
	bottom: 60px;
	width: 250px;
	height: 125px;
	background-color: transparent;
	border: 7px solid #333;
	border-bottom: none;
}

.bus-station:after{
	content: '';
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	height: 5px;
	width: 300px;
	background-color: #333;
}

.bus-station:before{
	content: '3T-D';
	text-align: center;
	font-size: 12px;
	position: absolute;
	top: -22px;
	left: 50%;
	transform: translateX(-50%);
	height: 15px;
	width: 375px;
	background-color: #ffc048;
	border-bottom: 7px solid #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.bus-station .wait-seat{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 20px;
	border: 5px solid #333;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.bus-station .wait-seat:after{
	content: '';
	position: absolute;
	top: -13.5px;
	left: 50%;
	transform: translateX(-50%);
	width: 115px;
	height: 8.5px;
	background-color: #ffc048;
	border-radius: 5px;
}

/* Bus */

.car{
	position: absolute;
	bottom: 45px;
	left: 0px;
	height: 100px;
	width: 300px;
	background-color: #2980b9;
	border-radius: 10px;
	animation: run 10s linear infinite;
}

@keyframes run{
	0%{
		left: 0%;
	}

	10%{
		left:13%;
	}
	30%{
		left: 13%;
	}
	40%{
		left: 15%;
	}
	100%{
		left: 100%;
	}
}

.car:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 300px;
	background-color: #3498db;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.car .wheel{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #333;
	border: 3px solid #fff;
	border-radius: 50%;
}

.car .wheel:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
}

.car .wheel:nth-child(1){
	bottom: -15px;
	left: 25px;
}

.car .wheel:nth-child(2){
	bottom: -15px;
	right: 30px;
}

.car .driver{
	position: absolute;
	right: 0;
	top: 15px;
	width: 40px;
	height: 30px;
	background-color: rgba(255,255,255,1);
	border: 2px solid #444;
	border-right: none;
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.car .driver:after{
	content: '';
	position: absolute;
	left: 17px;
	top:-5px;
	width: 2.5px;
	height: 40px;
	background-color: rgba(52, 231, 228,0.4);
	transform: rotate(-30deg);
}

.car .driver:before{
	content: '';
	position: absolute;
	left: 36px;
	top: -5px;
	width: 1px;
	height: 40px;
	background-color: rgba(52, 231, 228,0.4);
	transform: rotate(-30deg);
}

.car .car-light{
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 10.5px;
	height: 10px;
	background-color: #ffa801;
	border-top-left-radius: 3.5px;
	border-bottom-left-radius: 3.5px;
}

.car .car-light:after{
	content: '';
	position: absolute;
	left: -290px;
	width: 10.5px;
	height: 10px;
	background-color: #ff3f34;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}


.car .window{
	position: absolute;
	left: 50px;
	top: 15px;
	width: 20px;
	height: 30px;
	background-color: rgba(255,255,255,1);
	border: 2.5px solid #444;
	border-radius: 10px;
}
 
.window:after, .window:before{
	content: '';
	position: absolute;
	top: -2.5px;
	width: 20px;
	height: 30px;
	background-color: rgba(255,255,255,1);
	border: 2.5px solid #444;
	border-radius: 10px;
}

.window:after{
	left: -40px;
}

.window:before{
	right: -40px;
}


.window:nth-child(2){
	left: 175px;
}


.logo{
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 16px;
	font-family: 'Dancing Script', cursive;
	text-shadow: 0.5px 0.5px 5px #fff;
}